body {
    margin: 0px;
}

header {
    text-align: center;
    padding: 18px;
    box-shadow: 0px 0px 2px grey;
}

header a {
    color: blue;
    font-size: 25px;
    text-decoration: none;
    margin-left: 50px;
}

a:hover {
    color: red;
    text-decoration: underline;
}

#container {
    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
    color: orange;
    font-size: 70px;
}

.four {
    /* display: inline-block; */
    /* width: 20%; */
    /* margin: 2%; */
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: purple;
}

.five {
    display: inline-block;
    width: 25%;
    font-size: 35px;
    font-weight: bold;
    color: black;
}

.two {
    display: inline-block;
    width: 40%;
    margin: 2%;
    font-size: 18px;
    border-bottom: 2px solid blue;
    padding: 2%;
}

.three {
    display: inline-block;
    width: 27%;
    margin: 2%;
    font-size: 18px;
    box-shadow: 0px 0px 2px grey;
    padding: 1%;
}

img {
    position: relative;
}

.bookimg {
    display: inline-block;
    margin: 45px 13px;
    box-shadow: 0px 0px 4px darkgrey;
}